@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* :root {
  --background: #0f1624;
  --foreground: #f7fffe;
  --primary: #88f7f1;
  --card: #151e33;
  --card-light: #202c48;
  --muted: #afbebc;
} */
/* :root {
  --background: #000000;
  --foreground: #f7fffe;
  --primary: #ff6500;
  --card: #171614;
  --card-light: #1e1d1d;
  --muted: #d4dedd;
} */
:root {
  --background: #000000;
  --foreground: #f7fffe;
  --primary: #ff6500;
  --card: #171614;
  --card-light: #1e1d1d;
  --muted: #d4dedd;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-black);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-card-light: var(--card-light);
  --color-muted: var(--muted);
  --animate-grow-shrink: growAndShrink 1.5s cubic-bezier(0.4, 0, 0.6, 1)
    forwards;
  --animate-spin-half: spin-half 1s linear infinite;
}

@layer base {
  @font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Atkinson', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--color-background);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--color-foreground);
    /* font-size: 1.125rem; */
    /* line-height: 1.5; */
  }

  @media (min-width: 1024px) {
    body {
      font-size: 1.25rem;
    }
  }
}

@layer utilities {
  .container {
    width: calc(100% - 4rem);
    max-width: 900px;
    margin: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: calc(100% - 6rem);
    }
  }
}

[data-id='border-card'] {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  min-width: fit-content;
  padding: 1px;
}

[data-id='border-card']::after {
  content: '';
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    var(--color-primary)
  );
  position: absolute;
  top: -120%;
  left: -120%;
  bottom: -120%;
  right: -120%;
  animation: rotate 20s linear infinite;
  z-index: 0;
  will-change: transform, opacity;
}

[data-id='border-card-inner'] {
  position: relative;
  z-index: 10;
  height: 100%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes growAndShrink {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes spin-half {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
