---
import BlogPostsSection from "@/components/BlogPostsSection.astro";
import TechStackSection from "@/components/TechStackSection.astro";
import WorkHistorySection from "@/components/WorkHistorySection.astro";
import LandingHero from "@/components/LandingHero.astro";
import Services from "@/components/Services";
import Projects from "@/components/Projects.astro";
import SectionDivider from "@/components/SectionDivider.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout>
  <div class="grid gap-y-24 py-12 pt-4 sm:pt-12">
    <LandingHero />
    <SectionDivider />
    <Services client:load />
    <SectionDivider />
    <TechStackSection />
    <SectionDivider />
    <WorkHistorySection />
    <SectionDivider />
    <Projects />
    <SectionDivider />
    <BlogPostsSection />
  </div>
</PageLayout>
