---
import { getCollection } from "astro:content";
import SectionHeader from "./SectionHeader";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog", post => post.data.isPublished)).sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);
---

<section class="container">
  <SectionHeader number={5} heading="Latest Posts" />

  <div class="pt-12 pb-8">
    {
      posts.length > 0 ? (
        posts.map(post => (
          <a href={`/blog/${post.id}`} class="block">
            <div class="bg-card group mb-6 rounded p-6 shadow-md transition hover:shadow-xl">
              <h3 class="group-hover:text-primary text-xl font-bold transition">
                {post.data.title}
              </h3>
              <p class="text-muted mt-2 mb-4 block text-sm">
                <FormattedDate date={post.data.publishedAt} />
              </p>
              <p class="text-muted">{post.data.description}</p>
            </div>
          </a>
        ))
      ) : (
        <p class="text-muted text-center text-lg">No post published yet.</p>
      )
    }
  </div>

  {
    posts.length > 0 ? (
      <a
        href="/blog"
        class="bg-primary text-primary-foreground font-medium shadow-primary/30 mx-auto mt-8 block w-max rounded p-0 px-12 py-6 leading-0 transition-all hover:shadow-2xl active:scale-95"
      >
        See all Posts
      </a>
    ) : null
  }
</section>
