<header class="bg-background sticky top-0 z-50">
  <div class="container relative h-16 flex items-center gap-12 justify-between">
    <span class="font-bold text-3xl">JA<span class="text-primary">.</span></span
    >

    <nav
      id="nav-menu"
      class="bg-card w-full grid grid-rows-[0] text-muted
			data-[open=true]:grid-rows-[1fr] absolute top-full
			z-50 transition-all will-change-auto duration-300 overflow-hidden"
    >
      <div class="grid gap-8 place-items-center py-12 font-bold">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="blog">Blog</a>
        <a href="mailto:ajiohjesse@gmail.com">Contact</a>
      </div>
    </nav>

    <button
      id="nav-button"
      type="button"
      class="bg-primary size-12 grid place-items-center"
    >
      <span class="sr-only">Toogle nav menu</span>
      <span
        id="nav-bars"
        class="w-6 flex flex-col h-fit gap-1 [&_span]:transition [&_span]:duration-300"
      >
        <span class="block h-[3px] w-full bg-background"></span>
        <span class="block h-[3px] w-full bg-background"></span>
        <span class="block h-[3px] w-full bg-background"></span>
      </span>
    </button>
  </div>
</header>

<style>
  #nav-bars {
    &.open {
      span {
        &:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(7px);
        }
        &:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }
</style>

<script>
  const navButton = document.getElementById('nav-button');
  const navMenu = document.getElementById('nav-menu');
  const navBars = document.getElementById('nav-bars');

  function toggleMenu() {
    if (!navBars || !navMenu) return;
    navBars?.classList.toggle('open');
    navMenu.dataset.open = JSON.stringify(navBars?.classList.contains('open'));
  }

  function closeMenu() {
    if (!navBars || !navMenu) return;
    navBars?.classList.remove('open');
    navMenu.dataset.open = 'false';
  }

  navButton?.addEventListener('click', toggleMenu);

  document.addEventListener('click', e => {
    if (
      e.target === navButton ||
      navButton?.contains(e.target as Node) ||
      navMenu?.contains(e.target as Node)
    )
      return;
    closeMenu();
  });

  document.addEventListener('scroll', closeMenu);
</script>
