---
import HeaderLink from './HeaderLink.astro';
---

<header class="bg-background sticky top-0 z-[99] isolate">
  <div
    class="container bg-background relative z-[99] h-16 flex items-center gap-12 justify-between"
  >
    <span class="font-bold text-3xl">JA<span class="text-primary">.</span></span
    >

    <nav id="nav-menu">
      <div>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="mailto:ajiohjesse@gmail.com">Contact</HeaderLink>
      </div>
    </nav>

    <button
      id="nav-button"
      type="button"
      class="bg-primary size-12 grid place-items-center md:hidden"
    >
      <span class="sr-only">Toogle nav menu</span>
      <span
        id="nav-bars"
        class="w-6 flex flex-col h-fit gap-1 [&_span]:transition [&_span]:duration-300"
      >
        <span class="block h-[3px] w-full bg-background"></span>
        <span class="block h-[3px] w-full bg-background"></span>
        <span class="block h-[3px] w-full bg-background"></span>
      </span>
    </button>
  </div>
</header>

<style>
  #nav-bars {
    &.open {
      span {
        &:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(7px);
        }
        &:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }

  #nav-menu {
    
    @media screen and (max-width: 767px) {
      background-color: var(--color-card);
      box-shadow: var(--shadow-2xl);
      width: 100%;
      display: grid;
      opacity: 0;
      transform: scale(0);
      visibility: hidden;
      color: var(--color-muted);
      z-index: 50;
      transition: all 300ms;
      overflow: hidden;
      position: absolute;
      top: 100%;

      &[data-open='true'] {
        opacity: 1;
        transform: scale(100%);
        visibility: visible;
      }

      &>div {
        /* class="grid gap-8 place-items-center py-12 font-bold border border-muted m-4" */
        display: grid;
        gap: 32px;
        place-items: center;
        padding-block: 48px;
        font-weight: bold;
        margin: 8px;
      }
    }

    @media screen and (min-width: 768px) {
      &>div {
        display: flex;
        gap: 48px;
        align-items: center;
      }
  }
</style>

<script>
  const navButton = document.getElementById('nav-button');
  const navMenu = document.getElementById('nav-menu');
  const navBars = document.getElementById('nav-bars');

  function toggleMenu() {
    if (!navBars || !navMenu) return;
    navBars?.classList.toggle('open');
    navMenu.dataset.open = JSON.stringify(navBars?.classList.contains('open'));
  }

  function closeMenu() {
    if (!navBars || !navMenu) return;
    navBars?.classList.remove('open');
    navMenu.dataset.open = 'false';
  }

  navButton?.addEventListener('click', toggleMenu);

  document.addEventListener('click', e => {
    if (
      e.target === navButton ||
      navButton?.contains(e.target as Node) ||
      navMenu?.contains(e.target as Node)
    )
      return;
    closeMenu();
  });

  document.addEventListener('scroll', closeMenu);
</script>
