---
import { Image } from "astro:assets";
import profileImage from "@/assets/images/profile-small.png";
import Sparkles from "@/components/Sparkles";
import Mail from "@/icons/Mail";
---

<section
  class="relative container flex flex-col-reverse items-center gap-12 md:flex-row"
>
  <div class="relative z-1 flex-1 pt-52 md:pt-0">
    <h1
      class="mb-2 text-4xl leading-tight font-bold uppercase md:text-[clamp(2rem,6vw,3rem)]"
    >
     <span> <Sparkles text="Hi," client:load /></span>
      <br />
     <span><Sparkles text="I'm Jesse." client:load /></span>
    </h1>

    <h2 class="text-primary text-lg whitespace-nowrap md:text-2xl">
      | Web Developer
    </h2>
    <p class="text-muted mt-4 max-w-[35ch] text-pretty">
      I'm Jesse Ajioh, a Fullstack Web Developer with proficiency in modern
      tools and frameworks, and a passion for building scalable web applications
      that solve real-world problems.
    </p>

    <a
      href="mailto:ajiohjesse@gmail.com"
      class="bg-primary shadow-primary/30 mt-8 flex w-max items-center gap-2 rounded p-0 px-12 py-4 leading-0 transition-all hover:shadow-2xl active:scale-95"
    >
      <Mail className="size-5" /> Have a project? Let's talk.
    </a>
  </div>
  <div
    class="absolute top-8 isolate max-w-[280px] flex-1 sm:max-w-[340px] md:relative md:top-0 md:max-w-[400px]"
  >
    <div
      class="border-primary/40 absolute inset-0 top-24 -right-4 left-12 z-0 border-4"
    >
    </div>
    <Image
      src={profileImage}
      alt="Jesse - Fullstack Developer"
      class="relative z-[1] w-full rounded-lg object-cover object-top"
      priority
      loading="eager"
    />
    <div
      class="via-background/80 to-background absolute -inset-4 z-[1] bg-gradient-to-b from-transparent blur-md md:via-transparent md:blur-none"
    >
    </div>
  </div>
</section>
