---
import SectionHeader from "./SectionHeader";
import Sparkles from "./Sparkles";

const workHistory = [
  {
    company: "Mephalti Technologies Ltd.",
    role: "Frontend Developer",
    period: "April 2023 - December 2024",
    responsibilities: [
      "Developed landing pages for marketing campaings",
      "Led the development of scalable web applications using React.",
      "Integrated backend services and APIs",
      "Assited in onboarding junior developers",
    ],
  },
  {
    company: "FarstCart Technologies Ltd.",
    role: "Fullstack Developer",
    period: "March 2023 - January 2025",
    responsibilities: [
      "Developed fullstack web applications with Next.js",
      "Setup CI/CD pipelines for automated deployments",
      "Developed waitlist feature for product launch",
    ],
  },
];
---

<section class="container">
  <SectionHeader number={3} heading="Work Histroy" />

  <div class="grid gap-8 pt-12 md:grid-cols-2">
    {
      workHistory.map(job => (
        <div data-id="border-card" class="bg-card shadow-md">
          <div
            data-id="border-card-inner"
            class="bg-card/50 rounded p-8 backdrop-blur-3xl"
          >
            <h3 class="text-xl font-bold">
              <Sparkles text={job.role} client:load />
            </h3>
            <h4 class="text-primary my-2 text-lg">{job.company}</h4>
            <p class="text-muted mb-4 text-base">{job.period}</p>
            <ul class="text-muted list-outside list-disc pl-4">
              {job.responsibilities.map(responsibility => (
                <li class="mb-2">{responsibility}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</section>
