---
import BaseHead from "@/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
// import BgGlow from "@/components/BgGlow.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SectionDivider from "@/components/SectionDivider.astro";

interface Props {
  subTitle?: string;
}

const { subTitle } = Astro.props;
const title = subTitle ? `${SITE_TITLE} - ${subTitle}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <BgGlow /> -->
    <main class="relative z-10">
      <Header />
      <slot />
      <div class="py-24">
        <SectionDivider class:list={["py-24"]} />
      </div>
      <Footer />
    </main>
  </body>
</html>
